%h3 "Hi #{ @user.name },"

%h1 Your user have been approved!

%br

%p
  Now you can start creating your realestate agency following
  = link_to 'this link', edit_admin_realestate_url(id: @user.realestate)

%p
  If you don't remember your password
  = link_to 'click here', password_resets_url

%small The REM team.
