.row
  .large-7.columns.text-center
    %header.main
      %h1#logo= @realestate ? @realestate.name : 'REM'

  .large-5.columns
    = render 'shared/search'

  .large-12.columns
    = render 'shared/nav_header'
