# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: aae412aba3aa8ff980db8f3bc1b0549a725e0839c301f2f6fd012d92e989703da4b2435788309abb970b2b99e822ce2a3482ae4993edf75d6f78c9cd02b6b6be

test:
  secret_key_base: 2a5b06ec23e8f74b7f38d136984a110d9d1d93cd43eb135d1b0a823093c76b6e18c7f7520f0ea0725e258ff18dc2e918080a2bdb7140b28e4e29c75ba2e2f2f5

# Do not keep production secrets in the repository,
# instead read values from the environment.
