/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'foundation_and_overrides';
@import 'general_foundicons';
@import 'social_foundicons';

.main {
  height: 60px;
  margin-bottom: 30px;
}

#logo {
  margin: 0;
  padding: 5px 0;
  background: #000;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.property {
  background-color: $secondary-color;
  padding: 7px;
  radius: 3px;
  header {
    background-color: $primary-color;
    a {
      color: white;
      font-weight: 66666600;
    }
  }
  h1 {
    font-size: 1.2rem;
    font-weight: 300;
  }
  .likers {
    padding: 5px;
  }
}

.icon-bar, #property-add-icon {
  font-size: 3rem;
}

#property-add-icon.foundicon-add-doc {
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
}

.foundicon-heart:hover {
  color: #dd4b39;
}
.foundicon-facebook:hover {
  color: #3b5998;
}
.foundicon-twitter:hover {
  color: #9ae4e8;
}
.foundicon-mail:hover {
  color: orange;
}
.foundicon-checkmark {
  color: green;
}

.top-bar {
  overflow: hidden;
}
