%h2 User list

- if @users.any?
  %table
    %thead
      %tr
        %th Email
        %th Role
        %th
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.role
          %td= link_to 'Edit', [:admin, user]
          %td= link_to 'Delete', delete_admin_user_path(user)
