- if @realestate.errors.any?
  #error_explanation
    %h4= "#{pluralize(@realestate.errors.count, "error")} prohibited this realestate from being saved:"
    %ul
      - @realestate.errors.full_messages.each do |msg|
        %li= msg
