.row
  .large-2.columns.text-center
    %header.main
      %h1#logo= link_to 'REM', admin_dashboard_path
.row
  .large-9.columns
    = render 'admin/shared/nav_header'
  .large-3.columns
    = render 'admin/shared/profile_header'
