.row
  .medium-3.columns
    %input#pictures_image{name: 'pictures[][image]', type: 'file'}
  .medium-9.columns
    %input#pictures_description{type: 'text', name: 'pictures[][description]',
      placeholder: 'Insert a picture description..'}
