= form_for @comment, url: action do |f|
  .row
    .medium-12.columns
      %h4 Contact
  .row
    .small-3.columns
      Email
    .small-9.columns
      = f.text_field :email
  .row
    .small-3.columns
      Comment
    .small-9.columns
      = f.text_area :text, rows: 6
  .row
    .small-12.columns.text-right
      = f.submit 'Send', class: 'button'
