-# public/_property.html.haml

%article{ id: property.id }
  %header.row
    .large-12.columns
      %h1= link_to property.ref, property_path(@realestate, property)
  %section.row
    .large-12.columns
      %article.row
        .large-12.columns
          %h1 Description
          %p Description not implemented yet in model Property.
      - if property.categories.present?
        %article.row
          .large-12.columns
            %h1 Category
            - property.categories.each do |category|
              %p= link_to category.name, category_path(@realestate, category)
      - if property.details.present?
        %article.row
          .large-12.columns
            %h1 Details
            - property.details.each do |detail|
              .row
                .large-1.columns
                  .general.foundicon-checkmark
                .large-10.columns{ style: 'float: left;' }= detail.name

    .large-12.columns
      .row.center.icon-bar.likers
        .small-3.columns
          %i.general.foundicon-heart
        .small-3.columns
          %i.large.social.foundicon-facebook
        .small-3.columns
          %i.social.foundicon-twitter
        .small-3.columns
          %i.general.foundicon-mail
