%section{ id: 'property-list' }
  %h1
    = @title || 'List of properties'
    %small= "(#{ @properties.count })"

  .list.row
    - @properties.each do |property|
      .large-4.columns
        .property
          = render 'property', property: property
