%section{ id: 'property-list' }
  %h1
    = @title || 'List of properties'
    %small= "(#{ @properties.count })"

  .list
    - @properties.each_with_index do |property, i|
      - if i % 3 == 0
        .row
      .large-4.columns.left
        .property
          = render 'property', property: property
